<a href="https://colab.research.google.com/github/ann-ko/Python-for-Data-Science.-Geekbrains/blob/main/Lesson%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np

a0 = [1, 2, 3, 3, 1]
a1 = [6, 8, 11, 10, 7]

In [ ]:
n [3]:
a = np.column_stack((a0, a1))

In [19]:
mean_a = a.mean(axis=0)
a, mean_a

(array([[ 1,  6],
        [ 2,  8],
        [ 3, 11],
        [ 3, 10],
        [ 1,  7]]), array([2. , 8.4]))

In [20]:

a_centered = a - mean_a
a, a_centered

(array([[ 1,  6],
        [ 2,  8],
        [ 3, 11],
        [ 3, 10],
        [ 1,  7]]), array([[-1. , -2.4],
        [ 0. , -0.4],
        [ 1. ,  2.6],
        [ 1. ,  1.6],
        [-1. , -1.4]]))

In [21]:
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])
N = a_centered.shape[0]
my_val = a_centered_sp / (N - 1 if N > 2 else 1)

a_centered_sp, my_val

(8.0, 2.0)